<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>${widget_id}</title>

  <link rel="stylesheet" href="./styles/style.css">
</head>
<body class="strossle">
<main>
  <h1 class="body-main-title">Welcome to <span class="accent">${test_case_name}</span> test pages</h1>
  <div class="test-case">
    <div class="newsletter">
      <h2>Newsletter</h2><br/>
    </div>
  </div>
</main>
<footer>
  © 2024, Show Me Ad XYZ
</footer>
<script src="app.js" type="application/javascript"></script>
</body>
</html>
